* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-family: var(--font-Rubik);
  color: var(--color-secundario);
  overflow: overlay;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primario);
  border-radius: 8px;
}

h1 {
  font-size: 3.6rem;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--background);
  font-size: 1.6rem;
}

li {
  list-style: none;
}

.iframe {
  display: block;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 90vh;
  z-index: 3;
  margin: 0 auto;
}

.iframe--close {
  display: none;
}
