* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-Rubik);
  color: var(--color-secundario);
  font-size: 1.6rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--background);
  font-size: 1.6rem;
}

li {
  list-style: none;
}
