:root {
  --background: #f8f0fb;
  --color-primario: #6320ee;
  --color-secundario: #211a1d;
  --color-terciario: #8075ff;
  --color-cuaternario: #cad5ca;

  --font-Rubik: "Rubik", sans-serif;
  --tamaño-titulo: 2.25rem;

  --mobile-width: 6rem 0.7rem 0 0.7rem;

  --barra-habilidades-legth: 0%;
  --color-barra: #ffff;
}
