.menu__link {
  text-decoration: none;
  color: var(--background);
  font-weight: 600;
  margin-left: 1rem;
  font-size: 1.7rem;
  transition: all 0.3s;
}

.menu__link:hover {
  color: var(--color-secundario);
}

.menu__link--active {
  color: var(--color-secundario);
}

@media screen and (min-width: 1024px) {
  .menu__link {
    margin-left: 25px;
    transition: color 0.2s ease-in;
  }
}
