@import url(./menu-link.css);
@import url(./menu-lista.css);

.menu {
  position: absolute;
  left: -100%;
  top: 78px;
  width: 100%;
  height: 100vh;
  background: rgba(99 32 238 / 60%);
  backdrop-filter: blur(20px);
  border-bottom: 0.16rem solid var(--color-terciario);
  transition: 0.3s left ease-in-out;
}

.menu--activo {
  left: 0 !important;
  transition: 0.3s left ease-in-out;
}

@media screen and (min-width: 1024px) {
  .menu {
    position: unset;
    width: auto;
    border: none;
    height: auto;
  }
}
