.perfil__boton {
  color: var(--background);
  background: var(--color-secundario);
  border: none;
  padding: 0.85rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.perfil__boton i {
  margin-left: 7px;
  transition: transform 0.2s ease-in;
}

.perfil__boton:hover i {
  transform: translateY(2px);
}
