.contactame {
  padding-inline: 0.7rem;
}

.contactame__informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactame__informacion__email {
  height: 180px;
  margin-bottom: 2rem;
  position: relative;
}
.contactame__informacion__email::before {
  content: "";
  background-image: url(../img/contact_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -100;
  top: 0;
  width: 100%;
  min-width: 250px;
  height: 170px;
}

.contactame__informacion__email__titulo {
  font-size: 2.3rem;
  margin-bottom: 1.4rem;
}

.contactame__informacion__email__correo a {
  font-weight: 900;
  color: var(--color-primario);
}

.contactame__informacion__formulario__form__datos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.6rem;
}
.contactame__informacion__formulario__form__datos--m6 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contactame__informacion__formulario__form__datos input,
.contactame__informacion__formulario__form__datos textarea {
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  border: 0;
  box-shadow: 0px 5px 20px 0px rgba(42, 41, 53, 0.1);
  height: 60px;
}
.contactame__informacion__formulario__form__datos input::placeholder,
.contactame__informacion__formulario__form__datos textarea::placeholder {
  color: var(--color-cuaternario);
}

.contactame__informacion__formulario__form__datos textarea {
  height: auto;
}

.contactame__informacion__formulario__form__datos__boton {
  margin: 2rem auto;
  background: var(--color-terciario);
}

@media screen and (min-width: 768px) {
  .contactame__informacion {
    flex-direction: row;
    gap: 2rem;
  }

  .contactame__informacion__formulario__form__datos--m6 {
    flex-direction: row;
  }

  .contactame__informacion__formulario__form__datos--m6 input {
    width: 50%;
  }
}
