.formacion {
  padding-inline: 0.7rem;
}

.formacion__instituciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formacion__instituciones__intitucion {
  background: #ffffff;
  border-left: 3px solid var(--color-terciario);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  max-width: 768px;
  height: 210px;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.3s ease-in-out;
}

.formacion__instituciones__intitucion:hover {
  transform: rotateZ(-2deg);
}

.formacion__instituciones__intitucion__img {
  width: 100%;
}

.formacion__instituciones__intitucion__img--autonoma {
  width: 188px;
  height: 81.87px;
  object-fit: contain;
}
.formacion__instituciones__intitucion__img--alura {
  width: 156px;
  height: 81.87px;
}
.formacion__instituciones__intitucion__img--idat {
  width: 175px;
  height: 81.8px;
  object-fit: contain;
}

.formacion__instituciones__intitucion__datos {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.formacion__instituciones__intitucion__titulo {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .formacion__instituciones__intitucion {
    width: 32%;
    height: 270px;
  }
}
