.proyectos {
  padding-inline: 0.7rem;
}

.proyectos__trabajos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.proyectos__trabajos__trabajo {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  width: 345px;
  height: 279px;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.proyectos__trabajos__trabajo__barra {
  background: var(--color-cuaternario);
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.proyectos__trabajos__trabajo__barra__titulo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.proyectos__trabajos__trabajo .proyectos__trabajos__trabajo__barra i {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 20px;
}
.proyectos__trabajos__trabajo .proyectos__trabajos__trabajo__barra i::before {
  content: " ";
  position: absolute;
  left: 16px;
  height: 12px;
  border-radius: 50%;
  width: 12px;
  background-color: #ffbd2e;
  top: 0;
}
.proyectos__trabajos__trabajo .proyectos__trabajos__trabajo__barra i::after {
  content: " ";
  position: absolute;
  left: 32px;
  height: 12px;
  border-radius: 50%;
  width: 12px;
  background-color: #28ca41;
  top: 0;
}

.proyectos__trabajos__trabajo__tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: flat;
}

.proyectos__trabajos__trabajo__tags__img {
  width: 245px;
}

.proyectos__trabajos__trabajo__tags__implementos {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: top 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 19px;
}

.proyectos__trabajos__trabajo:hover
  .proyectos__trabajos__trabajo__tags__implementos {
  top: 0;
}

.proyectos__trabajos__trabajo__tags__implementos ul {
  text-align: center;
  gap: 10px;
}
.proyectos__trabajos__trabajo__tags__implementos ul li {
  display: inline-block;
  color: #999;
  list-style: none;
  background: #313131;
  box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
  margin: 2px;
  border-radius: 3px;
  padding: 6px 9px;
  cursor: default;
}

.proyectos__trabajos__trabajo__tags__botones {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.proyectos__trabajos__trabajo__tags__botones__boton {
  padding: 7px;
  border-radius: 6px;
  background: var(--color-cuaternario);
  cursor: pointer;
  border: none;
}

.proyectos__trabajos__trabajo__tags__botones__boton:hover {
  background: rgb(221, 231, 221);
}

.proyectos__trabajos__trabajo__tags__botones__boton i {
  margin-right: 5px;
}

/*
 .proyectos__trabajos__trabajo__datos {
  position: absolute;
  transform: translateY(80%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(128, 117, 255, 0.9);
  padding: 15px;
  color: #fff;
  transition: 0.6s;
  opacity: 1;
} */

/* .proyectos__trabajos__trabajo__datos:hover {
  transform: translateY(0);
} */

/* .proyectos__trabajos__trabajo__datos__titulo {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.proyectos__trabajos__trabajo__datos__info {
  margin-bottom: 1.8rem;
}

.proyectos__trabajos__trabajo__datos__implementos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.proyectos__trabajos__trabajo__datos__implementos__item {
  border: 0.2rem solid #ffff;
  padding: 0.5rem 0.7rem;
}

.proyectos__trabajos__trabajo__datos__implementos__item__nombre {
  font-size: 1.4rem;
}

.proyectos__trabajos__trabajo__datos:hover
  .proyectos__trabajos__trabajo__datos__titulo {
  margin-bottom: 1.5rem;
}

.proyectos__trabajos__trabajo__datos__botones {
  display: flex;
  gap: 1.7rem;
}
*/

@media screen and (min-width: 1024px) {
  .proyectos__trabajos__trabajo {
    width: 452px;
    height: 365px;
  }
  .proyectos__trabajos__trabajo__datos {
    padding: 3rem;
  }
}
